<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Edina</td>
            <td>307</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Minnetonka</td>
            <td>216.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Cretin-Derham Hall, St. Paul</td>
            <td>185</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Eden Prairie</td>
            <td>172</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Rosemount</td>
            <td>150.5</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2010-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Stillwater</td>
            <td>265</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Edina</td>
            <td>205</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Minnetonka</td>
            <td>192</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Wayzata</td>
            <td>157</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Eden Prairie</td>
            <td>133</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2010-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">A Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Breck/Blake</td>
            <td>275</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Simley, Inver Grove Heights</td>
            <td>232</td>
          </tr>
          <tr>
            <td>3</td>
            <td>St. Thomas Acad, Mendota Height</td>
            <td>176</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Bemidji</td>
            <td>145</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Monticello</td>
            <td>137</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2010-A-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">A Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Sartell-St. Stephen</td>
            <td>236</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Hutchinson</td>
            <td>207</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Monticello</td>
            <td>185</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Breck School</td>
            <td>151</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Visitation</td>
            <td>127</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2010-A-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
