<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Edina</td>
            <td>316</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Minnetonka</td>
            <td>188</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stillwater</td>
            <td>171</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Eden Prairie</td>
            <td>165</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Rochester John Marshall</td>
            <td>141</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2011-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Edina</td>
            <td>247.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Eden Prairie</td>
            <td>223</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stillwater Area</td>
            <td>220</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Wayzata</td>
            <td>205</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Cretin-Derham Hall, St. Paul</td>
            <td>136</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2011-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">A Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Fergus Falls</td>
            <td>205</td>
          </tr>
          <tr>
            <td>2</td>
            <td>St. Thomas Academy</td>
            <td>204</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Breck/Blake</td>
            <td>201</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Monticello</td>
            <td>168</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Richfield</td>
            <td>162</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2011-A-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">A Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hutchinson Tigers</td>
            <td>213</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Monticello</td>
            <td>205</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Sartell-St. Stephen</td>
            <td>191</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Breck School</td>
            <td>154</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Northfield</td>
            <td>140</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2011-A-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
