<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Eden Prairie</td>
            <td>314.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Maple Grove</td>
            <td>206</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Minnetonka</td>
            <td>206</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Rosemount</td>
            <td>178</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Edina</td>
            <td>159</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2012-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Edina</td>
            <td>316</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Minnetonka</td>
            <td>188</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stillwater</td>
            <td>171</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Eden Prairie</td>
            <td>165</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Rochester John Marshall</td>
            <td>141</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2013-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">A Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>St. Thomas Academy</td>
            <td>330</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Monticello</td>
            <td>204</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Breck/Blake</td>
            <td>193</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Richfield</td>
            <td>189</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Fergus Falls</td>
            <td>152</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2012-A-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">A Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Sartell-Saint Stephen</td>
            <td>238</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Northfield</td>
            <td>173</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Hutchinson</td>
            <td>170</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Visitation</td>
            <td>166</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Monticello</td>
            <td>156</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/MI/results/2012-A-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
