<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Iolani School</td>
            <td>62</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Punahou School</td>
            <td>43</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Hawaii Prep</td>
            <td>30</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Kamehameha Schools - Kapalame</td>
            <td>23</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Kaiser High School</td>
            <td>14</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/HI/results/2009-STATES-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Punahou</td>
            <td>75</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Iolani School</td>
            <td>21</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Baldwin High School</td>
            <td>18</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Kapolei High School</td>
            <td>17</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Lahainaluna High School</td>
            <td>16</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2009-STATES-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
