<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Punahou</td>
            <td>63</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Iolani School</td>
            <td>42</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Hawaii Preparatory Academy</td>
            <td>41</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Kamehameha Schools Kapalama</td>
            <td>16</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Waiakea High School</td>
            <td>14</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/HI/results/2014-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Kealakehe High School</td>
            <td>48</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Mid-Pacific Institute</td>
            <td>45</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Iolani School</td>
            <td>31</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Kealakehe Swimming</td>
            <td>25</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Kaiser High School</td>
            <td>17</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2014-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
