<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hawaii Preparatory Academy</td>
            <td>57</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Punahou</td>
            <td>36</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Kamehameha Schools Kapalama</td>
            <td>27</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Iolani School</td>
            <td>27</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Mililani High School</td>
            <td>22</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/HI/results/2014-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Punahou</td>
            <td>62</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Iolani School</td>
            <td>43</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Kealakehe High School</td>
            <td>19</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Waiakea High School</td>
            <td>18</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Kaiser High School</td>
            <td>17</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2014-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
