<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Kamehameha Schools Kapalama</td>
            <td>60</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Punahou</td>
            <td>47</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mililani High School</td>
            <td>22</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Seabury Hall</td>
            <td>18</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Hilo High School</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/HI/results/2014-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mid-Pacific Institue</td>
            <td>54.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Kealakhehe High School</td>
            <td>38.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Punahou</td>
            <td>37</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Iolani School</td>
            <td>27</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Kauai High School</td>
            <td>23</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2014-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
