<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>North Allegheny</td>
            <td>227.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wilson</td>
            <td>192</td>
          </tr>
          <tr>
            <td>3</td>
            <td>La Salle College</td>
            <td>180</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Emmaus</td>
            <td>158</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Mount Lebanon</td>
            <td>140</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2010-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Wilson</td>
            <td>231.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Hershey</td>
            <td>205.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Parkland</td>
            <td>173</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Emmaus</td>
            <td>151</td>
          </tr>
          <tr>
            <td>5</td>
            <td>North Allegheny</td>
            <td>132</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2010-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hershey</td>
            <td>416</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Shady Side Academy</td>
            <td>152</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Bloomberg High School</td>
            <td>122</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Lancaster Catholic</td>
            <td>116</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Fairview High School</td>
            <td>107</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2010-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Oakland Catholic</td>
            <td>187</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wyomissing</td>
            <td>157</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mercyhurst Preparatory HS</td>
            <td>152</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Boiling Springs</td>
            <td>146</td>
          </tr>
          <tr>
            <td>5</td>
            <td>West Allegheny High School</td>
            <td>145</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2010-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
