<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>La Salle College</td>
            <td>290</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Hershey</td>
            <td>218</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Upper Dublin</td>
            <td>206</td>
          </tr>
          <tr>
            <td>4</td>
            <td>North Allegheny</td>
            <td>156</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Upper ST. Clair</td>
            <td>122</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2013-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hershey</td>
            <td>292</td>
          </tr>
          <tr>
            <td>2</td>
            <td>North Allegheny</td>
            <td>165</td>
          </tr>
          <tr>
            <td>3</td>
            <td>North Penn</td>
            <td>150</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Greater Latrobe</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Oakland Catholic</td>
            <td>116</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2013-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Salisbury</td>
            <td>151</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Franklin Area</td>
            <td>143</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Bellefonte Area</td>
            <td>138</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Fairview</td>
            <td>114</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Upper Perkiomen</td>
            <td>104</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2013-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Villa Maria Academy</td>
            <td>237</td>
          </tr>
          <tr>
            <td>2</td>
            <td>York Suburban</td>
            <td>125</td>
          </tr>
          <tr>
            <td>3</td>
            <td>South Fayette</td>
            <td>119</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Central Columbia</td>
            <td>118.5</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Southern Lehigh</td>
            <td>113</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/results/2013-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
