---
layout: default
---
<div class="page-header">
  <h1>State Championships</h1>
</div>
<div class="well">
<div class="row">
  <div class="col-md-12 col-sm-12">
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><a href="#2014" data-toggle="pill">2014</a></li>
      <li><a href="#2013" data-toggle="pill">2013</a></li>
      <li><a href="#2012" data-toggle="pill">2012</a></li>
      <li><a href="#2011" data-toggle="pill">2011</a></li>
      <li><a href="#2010" data-toggle="pill">2010</a></li>
    </ul>
  </div>
</div>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="2014">
    {% include MI/2014-States.html %}
  </div>
  <div class="tab-pane active" id="2013">
    {% include MI/2013-States.html %}
  </div>
  <div class="tab-pane active" id="2012">
    {% include MI/2012-States.html %}
  </div>
  <div class="tab-pane active" id="2011">
    {% include MI/2011-States.html %}
  </div>
  <div class="tab-pane active" id="2010">
    {% include MI/2010-States.html %}
  </div>
</div>
