<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>North Allegheny</td>
            <td>243</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Emmaus</td>
            <td>208</td>
          </tr>
          <tr>
            <td>3</td>
            <td>La Salle College</td>
            <td>205</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Wilson</td>
            <td>184</td>
          </tr>
          <tr>
            <td>5</td>
            <td>West Chester Henderson</td>
            <td>131</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2009-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Emmaus</td>
            <td>237</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Souderton</td>
            <td>212.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Hershey</td>
            <td>183.5</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Wilson</td>
            <td>161</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Parkland</td>
            <td>136</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2009-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hershey</td>
            <td>269</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Bloomsburg</td>
            <td>160.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Shady Side Academy</td>
            <td>144</td>
          </tr>
          <tr>
            <td>4</td>
            <td>York Suburban</td>
            <td>128</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Franklin</td>
            <td>88</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2009-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Oakland Catholic</td>
            <td>181</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Shady Side Academy</td>
            <td>151</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Wyomissing</td>
            <td>143</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Villa Maria Academy</td>
            <td>135</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Fairview</td>
            <td>130</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2009-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
