<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hershey</td>
            <td>344</td>
          </tr>
          <tr>
            <td>2</td>
            <td>La Salle College</td>
            <td>228</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Wilson</td>
            <td>151</td>
          </tr>
          <tr>
            <td>4</td>
            <td>North Allegheny</td>
            <td>138</td>
          </tr>
          <tr>
            <td>5</td>
            <td>West Chester B. Reed Henderson</td>
            <td>134</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2011-AAA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AAA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Hershey</td>
            <td>269.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wilson</td>
            <td>210</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Parkland</td>
            <td>193</td>
          </tr>
          <tr>
            <td>4</td>
            <td>North Allegheny</td>
            <td>116.5</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Oakland Catholic</td>
            <td>102</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2011-AAA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Boys</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Shady Side Academy</td>
            <td>190</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Fairview</td>
            <td>163</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Franklin Area</td>
            <td>139</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Springfield (Mc)</td>
            <td>133</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Bloomsburg</td>
            <td>121</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2011-AA-BOYS">Full Results</a></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">AA Girls</div>
      <table class="table">
        <thead>
          <td>Place</td>
          <td>School</td>
          <td>Points</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Villa Maria Academy</td>
            <td>178.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>West Allegheny</td>
            <td>159</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Central Columbia</td>
            <td>145</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Shady Side Academy</td>
            <td>142</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Mercyhurst Prep</td>
            <td>125</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer"><a href="{{ site.baseurl }}/PA/results/2011-AA-GIRLS">Full Results</a></div>
    </div>
  </div>
</div>
